<section class="grid--hero">
  <img class="hero--background img-responsive" src="img/bg-bot-white-brickwork.jpg" alt="...">
  <div class="color-tag color-tag--foot rellax" data-rellax-speed="0">
    <div class="color-tag--blue"></div>
    <div class="color-tag--yellow"></div>
    <div class="color-tag--pink"></div>
  </div>
  <div class="black-gradient"></div>
</section>
<footer class="footer navbar">

  <section class="ml-2 navbar-section">
    <a href="..." class="navbar-brand mr-2">RocketSolid</a>
    <a href="..." class="btn btn-link">Design</a>
    <a href="..." class="btn btn-link">Code</a>
  </section>
  <section class="mr-2 navbar-section">
    <a href="..."><i class="navbar-brand mr-2 fab fa-twitter"></i></a>
    <a href="..."><i class="navbar-brand mr-2 fab fa-instagram"></i></a>
    <a href="..."><i class="navbar-brand mr-2 fab fa-linkedin-in"></i></a>
  </section>

  <span class="copyright">©2018 RocketSolid All rights reserved</span>
</footer>


</div>