<div class="wrapper">
  <header class="navbar">
    <section class="ml-2 navbar-section">
      <a href="#" class="navbar-brand mr-2">RocketSolid</a>
      <a href="/design" class="btn btn-link">Design</a>
      <a href="/code" class="btn btn-link">Code</a>
    </section>
    <section class="mr-2 navbar-section">
      <!-- <a href="..."><i class="navbar-brand mr-2 fab fa-twitter"></i></a>
      <a href="..."><i class="navbar-brand mr-2 fab fa-instagram"></i></a>
      <a href="..."><i class="navbar-brand mr-2 fab fa-linkedin-in"></i></a> -->
      <a href="/contact" class="btn btn-link">Contact</a>
    </section>
  </header>

  <section class="grid--hero">
    <img class="hero--background img-responsive" src="img/bg-white-brickwork.jpg" alt="...">
    <div class="hero--title">
      <h1>
        <span class="hero--title__style1">Rocket Solid</span>
        <span class="hero--title__style2">Media</span>
        <span class="hero--title__style3">Strong Design • Fast Code</span>
      </h1>
    </div>
    <div class="color-tag color-tag--head rellax" data-rellax-speed="1.2" data-rellax-percentage="0.5">
      <div class="color-tag--pink"></div>
      <div class="color-tag--yellow"></div>
      <div class="color-tag--blue"></div>
    </div>
  </section>