{{ define "main" }}
<h1>Buzzwords</h1>
A is for agile, a major buzzword across the entire tech industry right now. Agile web development essentially refers to
a particular way of working, and you’ll often hear this term in the startup world. In an agile team, web developers
will work according to weekly or biweekly sprints. A sprint usually consists of five phases: design, develop, test,
deploy and review.

API stands for Application Programming Interface. An API enables two different programs to communicate with each other
by making some parts of the website code available to developers. Developers can use this code, i.e. the API, to build
tools and widgets that can be connected to that particular website. A classic example is the Facebook API, which
enables apps like Facebook Messenger and Words with Friends.

A crucial aspect of development and programming, data structures are a way of organizing and storing data for maximum
efficiency — much like books in a library. Data structures make it easy to find, access, sort, insert and delete data.
There are many different types of data structures, including linked lists, stacks, queues and sets.

Deployment is a key step in the web development process. Once a website or an app has been developed and tested, it’s
ready to go live; in other words, it’s ready to be deployed. There are several different stages to deploying a website
— read about them here.

We’ve already covered both the frontend and the backend: now it’s time to throw full-stack development into the mix.
Full-stack developers work across all three layers: the frontend, the backend and the database layer. Because of the
sheer depth of their knowledge across the entire spectrum, full-stack developers tend to have years of industry
experience behind them.

Information architecture is the practice of organizing complex information in a clear and logical way. In terms of
websites and apps, this means creating a user-friendly structure that makes it easy for the user to find their way
around. IA is not just for designers; developers are information architects, too, in the way they structure their code.
Generally speaking, site maps, hierarchies, categorizations, navigation and metadata are all part of IA.

<h1>Web Sites</h1>
Website content
Information based
Shows same information to all visitors
poster or brochure


<h1>Webapps</h1>
User interactions
Data processing
Custom information is shown to visitors
Users perform actions
Business solutions
More than displaying informationhas business logic
Intended for user interaction
Richer user interaction
transforms information in some meaningful way
takes input, acts on the input, transforms, and produces some new output



{{end}}