@import "imports/core/reset.css";
@import "imports/spectre/spectre-custom.css";
@import "imports/core/mixins.css";
@import "imports/site/color-tags.css";
@import "imports/site/footer.css";
@import "imports/site/hero.css";
/* @import "../fonts/leaguespartan-stylesheet.css";
@import "../fonts/chunkfive-stylesheet.css"; */

:root {
  --color-pnk: #ff4b9b;
  --color-yel: #ffe84b;
  --color-blu: #56cbf9;
  --color-bla: #000000;
  --color-whi: #ffffff;
  --color-gre: #8b8f98;
  --color-grl: #f4f5f5;
}

.slogan {
  display: none;

  @media screen and (min-width: 48em) {
    display: inline;
    margin: 0;
  }
}

.wrapper {
  min-width: 320px;
  max-width: 980px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0.25em 0.25em 2em 0.25em rgba(0, 0, 0, 0.145865);
}

.main {
  display: grid;
  overflow-y: hidden;
  overflow-x: hidden;
  grid-row-gap: 0.786em;
  margin: 0.786em 0;
}

.main__home {
  grid-template-rows: max-content max-content max-content max-content max-content;

  @media screen and (min-width: 23.5em) {
    grid-template-rows: 1fr max-content 1fr max-content 1fr;
  }
}

.section {
  display: grid;
  position: relative;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  @mixin fluidcalc padding-top,
  1em,
  1,
  3.2,
  20,
  23.5,
  20em,
  23.5em;
  @mixin fluidcalc padding-bottom,
  1em,
  1,
  3.2,
  20,
  23.5,
  20em,
  23.5em;
}

.section__home {
  max-height: 52em;

  @media screen and (min-width: 23.5em) {
    height: calc(1335 / 980 * 100 * 1.2 * 1vw);
  }

  @media screen and (min-width: 61.25em) {
    height: 52em;
  }
}

.section__contact {
  padding-block-end: 24%;
}

.content {
  grid-column: 1 / span 3;
  grid-row: 1 / span 5;
  justify-self: center;
  align-self: center;
  line-height: 2.618;
  width: 100%;

  @mixin fluidcalc padding,
  1em,
  1.414,
  4.618,
  23.5,
  61.25,
  23.5em,
  61.25em;

  @media screen and (min-width: 23.5em) {
    background: rgba(244, 245, 245, 0.1618);
    width: 90%;
    max-width: 768px;
    border-radius: 0.618em;
    /* padding: 2em; */
    box-shadow: 0.25em 0.25em 2em 0.25em rgba(0, 0, 0, 0.145865);
  }

  @media screen and (min-width: 61.25em) {
    width: 78.6129%;
    padding: 4.618em;
    /* margin-left: 4.26%;
    margin-top: 4.26%; */
    /* margin-bottom: 4.26%; */
    /* margin-top: 14.59%; */
  }
}

.content__list {
  list-style-type: none;
  margin-left: 0;
  /* text-align: end; */
  /* margin-right: 6em; */
}

.content__title {
  /* font-family: "Chunkfive"; */
}

.content-span {
  user-select: none;
  font-family: "League Spartan";
  /* font-family: "Chunkfive"; */
  font-size: 8em;
  display: none;

  @media screen and (min-width: 23.5em) {
    display: initial;
  }
}

.form-group textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 100px;
}

.content-span--vertical {
  position: absolute;
  bottom: 50%;
  right: 0;
  text-transform: uppercase;
  transform: translate(49%, 50%) rotate(-90deg);

  @mixin fluidcalc font-size,
  1em,
  6,
  9.8,
  30,
  64,
  30em,
  64em;
  /* @mixin fluidcalc font-size, 1em, 4.8, 7, 30, 64, 30em, 64em; */
}

.content-span--horizontal {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  transform: translate(-1%, 50%);

  @mixin fluidcalc font-size,
  1em,
  7.8,
  14.8,
  30,
  64,
  30em,
  64em;
}

.netlify--honeypot {
  visibility: hidden;
  height: 1px;
  margin: -1px 0 0 0 !important;
}

img {
  pointer-events: none;
}