{{ define "main" }}
<main class="grid--main">
  <section class="grid--section section">
    <div class="content">
      <h2 class="content__title">Hello</h2>
      <p>
        RocketSolid is a premium full-service digital agency. We produce unique
        marketing solutions that increase brand awareness and promote customer
        engagement.
      </p>
      <p>
        Our projects are built from the ground up with elegant code and
        accessible design. We have an expert team ready to focus on your
        project, contact us <a href="#contact">here</a> to get started.
      </p>
    </div>

    <div
      class="color-tag color-tag--1 rellax"
      data-rellax-speed="1.2"
      data-rellax-percentage="0.5"
    >
      <div class="color-tag--blue"></div>
      <div class="color-tag--white"></div>
      <div class="color-tag--black"></div>
    </div>
  </section>

  <section class="">
    <img class="img-responsive" src="img/comp1024102480.jpg" alt="" />
  </section>

  <section class="grid--section section section--services">
    <div class="content content--services">
      <h2 class="content__title">Our Services</h2>
      <ul class="content__services-list">
        <li>
          <a href="./services/websites"> <h3>Web Sites</h3> </a>
        </li>
        <li>
          <a href="./services/webapps"> <h3>Web Apps</h3> </a>
        </li>
        <li>
          <a href="./services/branding"> <h3>Branding</h3> </a>
        </li>
        <li>
          <a href="./services/copywriting"> <h3>Copywriting</h3> </a>
        </li>
        <li>
          <a href="./services/contentmanagement"> <h3>Content Strategy</h3> </a>
        </li>
        <li>
          <a href="./services/ads"> <h3>Online Ads</h3> </a>
        </li>
        <li>
          <a href="./services/SEO"> <h3>SEO & Analytics</h3> </a>
        </li>
      </ul>
    </div>

    <span class="content-span content-span--vertical">Rocket</span>

    <div
      class="color-tag color-tag--2 rellax"
      data-rellax-speed="1.2"
      data-rellax-percentage="0.5"
    >
      <div class="color-tag--pink"></div>
      <div class="color-tag--grey"></div>
      <div class="color-tag--yellow"></div>
    </div>
  </section>

  <section class="">
    <img class="img-responsive" src="img/comp1024102480.jpg" alt="" />
  </section>

  <section id="contact" class="grid--section section section--contact">
    <div class="content content--contact">
      <h2 class="content__title">Contact Us</h2>

      <form action="">
        <div class="form-group">
          <label class="form-label" for="input-name">Name</label>
          <input
            class="form-input"
            type="text"
            id="input-example-1"
            placeholder="Name"
          />
        </div>
        <div class="form-group">
          <label class="form-label" for="input--phone-number"
            >Phone Number</label
          >
          <input
            class="form-input"
            type="text"
            id="input-example-1"
            placeholder="Phone Number"
          />
        </div>
        <div class="form-group">
          <label class="form-label" for="input--message">Message</label>
          <textarea
            class="form-input"
            id="input-example-3"
            placeholder="Textarea"
            rows="3"
          ></textarea>
        </div>
        <div class="input-group">
          <button class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
    <span class="content-span content-span--horizontal">SOLID</span>

    <div
      class="color-tag color-tag--3 rellax"
      data-rellax-speed="1.2"
      data-rellax-percentage="0.5"
    >
      <div class="color-tag--blue"></div>
      <div class="color-tag--pink"></div>
      <div class="color-tag--yellow"></div>
    </div>
  </section>
</main>

{{ end }}
