{{ define "main" }}

<main class="main main__home">
  <section class="section section__home">
    <div class="content">
      <h2 class="content__title">Hello</h2>
      <p>
        RocketSolid is a premium full-service digital agency. We produce unique
        marketing solutions that increase brand awareness and promote customer
        engagement.
      </p>
      <p>
        Our projects are built from the ground up with elegant code and
        accessible design. We have an expert team ready to focus on your
        project, contact us <a href="#contact">here</a> to get started.
      </p>
    </div>

    <div class="color-tag color-tag--1 rellax" data-rellax-speed="-36.8" data-rellax-percentage=".6">
      <div class="color-tag--blue"></div>
      <div class="color-tag--white"></div>
      <div class="color-tag--black"></div>
    </div>
  </section>

  <section class="">
    <picture>
      <source class="img-responsive" media="(min-width: 768px)" srcset="./img/lightbulb102457680.jpg" />
      <img class="img-responsive" src="./img/lightbulb1024102480.jpg" alt="" />
    </picture>
  </section>

  <section class="section section__home">
    <div class="content">
      <h2 class="content__title">Our Services</h2>
      <ul class="content__list">
        {{ range (where .Pages "Section" "services") }}
        <li>
          <a href="{{ .URL }}">
            <h3>{{ .Title }}</h3>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>

    <span class="content-span content-span--vertical">Rocket</span>

    <div class="color-tag color-tag--2 rellax" data-rellax-speed="14.0" data-rellax-percentage="0.5">
      <div class="color-tag--pink"></div>
      <div class="color-tag--grey"></div>
      <div class="color-tag--yellow"></div>
    </div>
  </section>

  <section class="">
    <picture>
      <source class="img-responsive" media="(min-width: 768px)" srcset="./img/gems102457680.jpg" />
      <img class="img-responsive" src="./img/gems1024102480.jpg" alt="" />
    </picture>
  </section>

  <section id="contact" class="section section__home section__contact">
    <div class="content">
      <h2 class="content__title">Contact Us</h2>
      <form name="contact--home" method="POST" data-netlify="true" netlify-honeypot="bot-field">
        <div class="netlify--honeypot form-group">
          <label class="form-label">Name</label>
          <input class="form-input" name="bot-field" placeholder="Leave this field empty" />
        </div>
        <div class="form-group">
          <label class="form-label" for="name">Name</label>
          <input class="form-input" type="text" name="name" placeholder="Name" required />
        </div>
        <div class="form-group">
          <label class="form-label" for="phone">Phone Number</label>
          <input class="form-input" type="tel" name="phone" placeholder="Phone Number" required />
        </div>
        <div class="form-group">
          <label class="form-label" for="message">Message</label>
          <textarea class="form-input" name="message" placeholder="Textarea" rows="3"></textarea>
        </div>
        <div class="input-group">
          <button class="btn btn-primary" type="submit">Send</button>
        </div>
      </form>
    </div>
    <span class="content-span content-span--horizontal">SOLID</span>

    <div class="color-tag color-tag--3 rellax" data-rellax-speed="-1.2" data-rellax-percentage="0.5">
      <div class="color-tag--blue"></div>
      <div class="color-tag--pink"></div>
      <div class="color-tag--yellow"></div>
    </div>
  </section>
</main>
{{ end }}