/* @custom-media --md-view (min-width: 48em);
@custom-media --lg-view (min-width: 65em); */

@define-mixin fluidcalc $property,
$unit,
$calc-min,
$calc-max,
$screen-min,
$screen-max,
$media-min,
$media-max {

  $(property): calc($calc-min * $unit);

  @media screen and (min-width: $media-min) {
    $(property): calc($calc-min*$unit + ($calc-max - $calc-min)*(100vw -$screen-min*$unit)/($screen-max - $screen-min));
  }

  @media screen and (min-width: $media-max) {
    $(property): calc($calc-max * $unit);
  }
}

@define-mixin fluidpadding--hero $unit,
$top-min,
$top-max,
$sides-min,
$sides-max,
$bot-min,
$bot-max,
$screen-min,
$screen-max,
$media-min,
$media-max {

  padding: calc($top-min * $unit) calc($sides-min * $unit) calc($bot-min * $unit);

  @media screen and (min-width: $media-min) {
    padding-top: calc($top-min*$unit + ($top-max - $top-min)*(100vw -$screen-min*$unit)/($screen-max - $screen-min));
    padding-left: calc($sides-min*$unit + ($sides-max - $sides-min)*(100vw -$screen-min*$unit)/($screen-max - $screen-min));
    padding-right: calc($sides-min*$unit + ($sides-max - $sides-min)*(100vw -$screen-min*$unit)/($screen-max - $screen-min));
    padding-bottom: calc($bot-min*$unit + ($bot-max - $bot-min)*(100vw -$screen-min*$unit)/($screen-max - $screen-min));
  }

  @media screen and (min-width: $media-max) {
    padding: calc($top-max * $unit) calc($sides-max * $unit) calc($bot-max * $unit);
  }
}

@define-mixin colortagtone $hsla-h,
$hsla-s,
$hsla-l,
$hsla-a {

  box-shadow: 0.1545em 0.1545em 2.828em 0.1545em hsla($hsla-h, calc($hsla-s*0.8866), calc($hsla-l*0.8866), calc($hsla-a*0.437));
  /* box-shadow: 0.0955em 0.0955em 2.828em 0.0955em hsla($hsla-h, calc($hsla-s*0.8866), calc($hsla-l*0.8866), calc($hsla-a*1)); */
}