{{ define "main" }}

<h1>Buzzwords</h1>
The way in which a website is built determines how it appears on different devices. Adaptive design creates a website
in several different layouts, each suited for different screen sizes. Depending on what device is being used to access
the website, the website will adapt and deliver the appropriate layout. See also: responsive design and mobile-first.


Mobile-first is an approach to web design and development that prioritizes mobile devices. Rather than building a
website with desktop in mind and then considering how it might look on a mobile device, with a mobile-first approach,
the website is first built for the small screen. Mobile-first means adopting either responsive or adaptive design (both
are included in this glossary!).

Responsive design ensures that a website is displayed correctly no matter what device the user is viewing it on.
Responsive websites are built in such a way that they adapt to different screen sizes, so the user gets the same
quality and ease-of-use regardless of whether they’re browsing on desktop, mobile or tablet. You can learn the basics
of responsive web design here.


UI design stands for user interface design, and it’s all about the screens and interactive touchpoints that make up a
website or an app. Swiping motions, scrollbars and clickable buttons are all part of UI design — essentially anything
that makes up the user interface.

As a web developer, you’ll also work closely with UX designers, so it helps to understand what they do. UX design
stands for user experience design, and it’s all about providing a smooth, user-friendly experience for the end user as
they navigate around a website or an app.


Wireframes help designers to communicate to web developers how a website should be structured. A wireframe is
essentially a bare-bones blueprint of the website, showing the page layout, how the content should be arranged, which
interface elements and navigational systems should be included, and how all these components work together. The focus
is on functionality rather than aesthetics.
{{end}}